/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-feb-2016, 10:31:16
    Author     : guillaume
*/
.nixps-asset-BookView {
    
}
.nixps-asset-BookView .screenOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.nixps-asset-BookView .tableCover {
    background-color: #656565;
    border: 1px solid #9C9C9C;
    border-radius: 3px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.nixps-asset-BookView .closeButton {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
/** action bar **/
.nixps-asset-BookView .actionBar {
    position: relative;
    top: 4px;
    height: 30px;
}
.nixps-asset-BookView .leftPageBar,
.nixps-asset-BookView .rightPageBar {
    display: inline-block;
    width: 50%;
    text-align: center;
}
/** css for buttons **/
.nixps-asset-BookView .button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding-left: 7px;
    padding-right: 12px;
}
.nixps-asset-BookView .button img {
    vertical-align: bottom;
    padding-right: 5px;
}
.nixps-asset-BookView .button.rejected {
    color: #AB4243;
    padding-left: 12px;
}
/** pagenumbers */
.nixps-asset-BookView .nixps-BookTurn .pCounter {
    background-color: #656565;
    color: #FFF;
    font-size: 13px;
}

.nixps-asset-BookView .gotopagePanel {
    top: 10px;
    left: 25px;
}